.ClassButtonPanel {
    display: inline-flex;
    flex-direction: column;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-variant: small-caps;
}

.ClassThumbnail {
    border: 1px solid white;
}

.ClassButton, .ClassButton:active, .ClassButton:hover, .ClassButton:focus {
    background: transparent;
    box-shadow: none;
    border-radius: 50%;
    border: none;
}

.ClassImageBorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-width: 4pt;
    border-style: solid;
    border-color: transparent;
    transition: border-color 0.3s;
}

.ClassButton.focus, .ClassButton:focus {
    box-shadow: none;
}

.ClassButton:not(:disabled):not(.disabled).active, .ClassButton:not(:disabled):not(.disabled):active, .show > .ClassButton.dropdown-toggle {
    border: none;
    background: transparent;
}

.ClassButton img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    filter: brightness(50%);
    transition: filter 0.2s;
}

/* .ClassButton:hover .ClassImageBorder {
    border-color: #a8a8a833;
} */

.ClassButton:not(:disabled):not(.disabled).active .ClassImageBorder, .ClassButton:not(:disabled):not(.disabled):active .ClassImageBorder, .show > .ClassButton.dropdown-toggle .ClassImageBorder {
    border-color: #005cbf;
    transition: none;
}

.ClassButton:hover img {
    filter: brightness(70%);
}

.ClassButton:not(:disabled):not(.disabled).active img, .ClassButton:not(:disabled):not(.disabled):active img, .show > .ClassButton.dropdown-toggle img {
    filter: brightness(100%);
    transition: none;
}
