.SpellbookPanel {
    text-align: left;
}

.SpellList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.SpellListItem {
    margin: 4px;
}

.LevelHeader {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 4pt 0;
    padding: 2pt 10pt;
}
