.SpellbookPanel {
    text-align: left;
}

.SpellList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.SpellListItem {
    margin: 4px;
}

.FirstSpellListItem {
    display: grid;
    grid-template-columns: max-content max-content;
}

.LevelHeader {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 4pt 0;
    padding: 2pt 10pt;
    font-family: 'Ruthie', cursive;
}

.SpellSchoolHeader {
    writing-mode: sideways-lr;
    text-align: right;
    padding: 5pt 0;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-variant: small-caps;
    font-size: medium;
}
