.SpellLinkThumbnail {
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

.SpellLink, .SpellLink:hover {
    color: #ccc;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    text-decoration: none;
    font-size: medium;
    text-align: center;
    display: inline-block;
    word-wrap: break-word;
    width: 80px;
}

.ExtraSpellLink, .ExtraSpellLink:hover {
    text-decoration: none;
}

.ExtraSpellBox {
    font-size: large;
    max-width: 20em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
