.SpellType {
    text-align: center;
    font-variant: small-caps;
    font-size: small;
}

.SpellName {
    font-variant: small-caps;
    font-weight: normal;
    font-style: normal;
    font-size: x-large;
    color: darkred;
}

.SpellCardPanel {
    /* max-width: 20em; */
    display: grid;
    height: 100%;
    grid-template-rows: auto min-content;
    text-align: center;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-style: normal;
    font-size: medium;
    background: #f8f5eb;
    color: black;
    padding: 14px;
}

.SpellCardFooter {
    color: rgb(70, 70, 70);
    font-size: small;
    text-align: left;
}

.SpellDescription {
    text-align: justify;
}

.SpellPropertiesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
    grid-gap: 10px;
    margin: 0px 10px;
    font-variant: small-caps;
}

.SpellPropertyItemName {
    color: darkred;
}

.SpellCardThumbnail {
    width: 100px;
    height: 100px;
    display: inline-block;
    filter: brightness(20%);
}

.SpellFootnote {
    font-size: smaller;
    text-align: justify;
    margin-top: 1em;
}
